<div class="container">
  <h1>Your Reservation :</h1>
  <p>Date in:
  <%= @booking.date_in %>
  Date out:
  <%= @booking.date_out %>
  Confirmation de validation :
  <%= @booking.accepted %>
  </p>
</div>