<div class="container">
  <h1>Skills avalaible for rent</h1>

  <%@skills.each do |skill| %>
    <p><%= link_to skill.name, skill_path(skill) %></p>
  <% end %>

  <%= link_to "add a skill", new_skill_path %>
</div>
