<h1> <%= @skill.name %> </h1>
<p> <%= @skill.description  %> </p>

<p> <%= link_to "Edit", edit_skill_path  %> </p>
<p> <%= link_to "Delete", skill_path(@skill), method: :delete, data: { confirm: "Are you sure?" }  %> </p>
