.button {
  color: white;
  background-color: $light-green;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 24px;
  font-weight: bolder;
  text-align: center;
  height: 30px;
  margin-right: 10px;
  &:hover {
    color: $light-green;
    border: 1px solid;
    background-color: white;
    font-weight: bolder;
  }
}

.big {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 50px;
  margin: 30px 0px;
}

.medium {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 40px;
  margin: 30px 0px;
}

.button-simple-form {
  color: white !important;
  height: 35px !important;
  &:hover {
    color: $light-green !important;
    border: 1px solid !important;
    background-color: white !important;
    font-weight: bolder !important;
    text-decoration: none !important;
  }
}

.form a {
  color: white;
}