.card-product {
  overflow: hidden;
  height: 180px;
  width:350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-radius: 15px;
  // &:hover{
    // background-color: yellow;
    // a{
    // text-decoration:none;
    // }
  // }
}

.card-product:hover {
  text-decoration: none !important;
}
.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.product-name {
  color: $light-green;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration:none;
}


.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #823038;
}

.card-product .card-product-infos {
  padding: 16px;
}

//classe de carte pour la show
.card-description{
  background-color: white;
  width:400px;
  margin:10px auto;
  border-radius:10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding:20px;
  color:gray;
  p{
    margin:0;
    text-align:left;
  }
  h1{
    color:$light-green;
  }
}

