.form{
  width:500px;
  margin: 0 auto;
    h1{
    text-align: center;
  }
  p{
    text-align: center;

  }

  a{
    text-decoration: none;
    color:grey;
    &:hover{
      text-decoration:underline;
    }
  }
}

.form-actions{
    text-align: center;
}
