.tabs-bar {
  display: flex;
  border-bottom: 1px solid rgb(210,210,210);
  padding-bottom: 5px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.tabs-bar a {
  color: rgb(150,150,150);
  text-decoration: none;
  margin-right: 20px;
  &:hover {
    cursor:pointer;
    color: black;
    text-decoration: none;
  }
  &:active {
    color: black;
  }
}
