.accepted-tag {
  background-color: #33dd74;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  border: none;
  padding: 5px 10px;
  &:hover {
    cursor: default;
  }
}

.pending-tag {
  background-color: #f4b433;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  border: none;
  padding: 5px 10px;
   &:hover {
    cursor: default;
  }
}

.cancelled-tag {
  background-color: red;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  border: none;
  padding: 5px 10px;
   &:hover {
    cursor: default;
  }
}

.positioning {
  margin-top: 5px;
  position: absolute;
  right: 10px;
}

.positioning {
  margin-top: 5px;
  position: absolute;
  right: 10px;
}
