.card-users-booking {
  overflow: hidden;
  height: 60px;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 15px;
  position: relative;
}

.card-users-booking img {
  margin-left: 10px;
  height: 75%;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.card-users-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-users-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  &:hover {
      text-decoration: none;
    }
}

.card-users-booking .card-users-booking-infos {
  padding: 16px;
}

#name-booker {
  margin-right: 10px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding-top: 0px;
    &:hover {
      text-decoration: none;
    }
}
