// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');



// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
}

h1{
  padding-top: 15px;
}

h2 {
  color:$light-green;
  text-decoration: none;
  p {
    text-decoration: none;
    color: #823038;
    &:hover {
      text-decoration: none;
      color:#823038;
      opacity: 0.8;
    }
  }
}

a {
  color:inherit;
  text-decoration:one;
  &:hover {
    color:inherit;
    text-decoration: none;
  }
}

.fas.fa-star {
  color: $light-green;
}

.far.fa-star {
  color: $light-green;
}
